<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"
            crossorigin="anonymous"
    />
    <title>React App</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="../react-app/dist/runtime.js"></script>
<script type="text/javascript" src="../react-app/dist/vendors.js"></script>
<script type="text/javascript" src="../react-app/dist/main.js"></script>
</body>
</html>